.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-list__item {
    width: 33%;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px #ddd;
}

.error-page h2 {
    padding: 25px;
    border-radius: 7px;
}

.ng-enter {
    animation: scaleUp 0.5s both ease-in;
    z-index: 8888;
}

.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/*Pagination*/
#pagination {
    text-align: center;
    margin: 25px 0 50px;
}

/* Form Styles */
.form-control.ng-invalid:not(.ng-pristine), .ng-invalid:not(.ng-pristine) {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-control.ng-invalid:not(.ng-pristine):focus, .ng-invalid:not(.ng-pristine):focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}

.form-control.ng-invalid.ng-invalid-minlength:not(.ng-pristine),
.ng-invalid.ng-invalid-minlength:not(.ng-pristine) {
    border-color: #cebb37;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-control.ng-invalid.ng-invalid-minlength:not(.ng-pristine):focus,
.ng-invalid.ng-invalid-minlength:not(.ng-pristine):focus {
    border-color: #cebb37;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #cebb37;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #cebb37
}

