<!doctype html>
<html lang="en" ng-app="spApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Test app</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <!--<script src="js/animations.js"></script>-->
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Home</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="UserActionsCtrl">
                <li class="dropdown" ng-show="Service.getUser()">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Hello {{Service.getUserEmail()}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/profile">Settings</a></li>
                        <li><a href="#/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="view-container">
    <div ng-view class="view-frame"></div>
</main>

</body>
</html>
