<div class="container">
    <h2>{{welcomeMsg}}: <strong>{{prod.name}}</strong></h2>

    <form role="form" name="ProductForm" ng-submit="formSubmit(ProductForm)">

        <p ng-class="{'text-success': showMsg.success, 'text-danger': !showMsg.success}" ng-show="showMsg.msg">{{showMsg.msg}}</p>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="prod.name" required pattern="^[a-zA-Z0-9 ]+$">
            <p class="text-danger" ng-show="ProductForm.name.$invalid && !ProductForm.name.$pristine">Name is required</p>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" ng-model="prod.price" required pattern="\d+(.\d{2})?">
            <p class="text-danger" ng-show="ProductForm.price.$error.required && !ProductForm.price.$pristine">Price is required</p>
            <p class="text-danger" ng-show="ProductForm.price.$error.pattern && !ProductForm.price.$pristine">Wrong format</p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" ng-model="prod.description" required></textarea>
            <p class="text-danger" ng-show="ProductForm.description.$invalid && !ProductForm.description.$pristine">Description is required</p>
        </div>
        <input type="submit" value="Submit" class="btn btn-default" ng-disabled="ProductForm.$invalid">
    </form>
</div>
