<div class="container">
    <h2>Login</h2>

    <form role="form" name="LoginForm" ng-submit="formSubmit(LoginForm)">

        <p ng-class="{'text-success': showMsg.success, 'text-danger': !showMsg.success}" ng-show="showMsg.msg">
            {{showMsg.msg}}</p>

        <div class="form-group">
            <label for="pass">Email</label>
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required
                   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            {{LoginForm.$error.required.$name}}
            <p class="text-danger" ng-show="LoginForm.email.$error.required && !LoginForm.email.$pristine">Price is
                required</p>
            <p class="text-danger" ng-show="LoginForm.email.$error.pattern && !LoginForm.email.$pristine">Wrong
                format</p>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" name="password" ng-model="user.password" required
                   pattern="[a-zA-Z0-9]+"
                   ng-minlength="6"
                   ng-maxlength="16"
                   ng-focus="check=false"
                   ng-blur="check=true">
            <!--<pre class="hidden">{{LoginForm.password | json}}</pre>-->
            <p class="text-danger" ng-show="LoginForm.password.$error.required && !LoginForm.password.$pristine">
                Password is required</p>
            <p class="text-danger" ng-show="LoginForm.password.$error.pattern && !LoginForm.password.$pristine">Wrong
                format</p>
            <p class="text-danger"
               ng-show="LoginForm.password.$error.minlength && !LoginForm.password.$pristine && check">Min length 6</p>
            <p class="text-danger"
               ng-show="LoginForm.password.$error.maxlength && !LoginForm.password.$pristine && check">Max length 16</p>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="user.rememberMe"> Remember me
                </label>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-default" ng-disabled="LoginForm.$invalid">
        <a href="/#/register" class="btn btn-primary">Register</a>
    </form>
</div>
