<div class="container" ng-controller="ProductListCtrl">
    <div class="jumbotron">
        <label for="order_prop">Order by</label>
        <select class="form-control" ng-model="orderProp" id="order_prop">
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>
    </div>
    <div class="text-right">
        <ul class="list-inline">
            <li><a href="" class="btn btn-default" ng-click="removeChecked()">Remove checked</a></li>
            <li><a href="#/create" class="btn btn-default">Create new</a></li>
            <li><strong>Items to show: </strong></li>
            <li><a href="#" ng-click="changeLimit($event, 10)">10</a></li>
            <li><a href="#" ng-click="changeLimit($event, 20)">20</a></li>
            <li><a href="#" ng-click="changeLimit($event, 50)">50</a></li>
        </ul>
    </div>
    <div class="row product-list">
        <div class="product-list__item" ng-repeat="item in products | orderBy:orderProp | startFrom: startingItem() | limitTo:itemLimit">
            <p><strong>Name:</strong> {{item.name}}</p>
            <p><strong>Price:</strong> {{item.price}}</p>
            <p><strong>Description:</strong></p>
            <p>{{item.description}}</p>
            <a href="#/edit/{{item.id}}" class="btn btn-primary">Edit</a>
            <input type="checkbox" ng-model="item.toRemove">
        </div>
    </div>
    <div id="pagination" class="row" ng-show="numberOfPages()">
        <button class="btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Prev</button>
        <span>{{currentPage+1}} from {{numberOfPages()}}</span>
        <button class="btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Next</button>
    </div>
</div>