<div class="container">
    <h2>Edit: <strong>{{user.name}}</strong></h2>

    <form role="form" name="UserForm" ng-submit="formSubmit(UserForm)">

        <p ng-class="{'text-success': showMsg.success, 'text-danger': !showMsg.success}" ng-show="showMsg.msg">
            {{showMsg.msg}}</p>

        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" class="form-control" id="username" name="username" ng-model="user.username" required
                   pattern="^[a-zA-Z0-9 ]+$"
                   ng-maxlength="255">
            <p class="text-danger" ng-show="UserForm.username.$invalid && !UserForm.username.$pristine">Name is
                required</p>
            <p class="text-danger"
               ng-show="UserForm.username.$invalid && UserForm.username.$error.maxlength && !UserForm.username.$pristine && check">
                Max length 255</p>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" ng-model="user.challenges.lastname"
                   pattern="^[a-zA-Z0-9 ]+$"
                   ng-maxlength="255">
            <p class="text-danger"
               ng-show="UserForm.challenges.lastname.$invalid && UserForm.challenges.lastname.$error.maxlength && !UserForm.challenges.lastname.$pristine">
                Max length 255</p>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required
                   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            {{UserForm.$error.required.$name}}
            <p class="text-danger" ng-show="UserForm.email.$error.required && !UserForm.email.$pristine">Price is
                required</p>
            <p class="text-danger" ng-show="UserForm.email.$error.pattern && !UserForm.email.$pristine">Wrong format</p>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" ng-model="user.challenges.phone"
                   ng-pattern="ph_numbr">
            <p class="text-danger"
               ng-show="UserForm.challenges.phone.$invalid && UserForm.challenges.phone.$error.pattern && !UserForm.challenges.phone.$pristine">
                Wrong format</p>
        </div>

        <input type="submit" value="Submit" class="btn btn-default">

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="showChangePass"> Change pass
                </label>
            </div>
        </div>

        <div class="form-group" ng-show="showChangePass">
            <label for="passwordFirst">Password</label>
            <input type="text" class="form-control" id="passwordFirst" name="passwordFirst" ng-model="passwordFirst"
                   pattern="[a-zA-Z0-9]+"
                   ng-minlength="6"
                   ng-maxlength="16"
                   ng-focus="check=false"
                   ng-blur="check=true">
            <p class="text-danger"
               ng-show="UserForm.passwordFirst.$error.required && !UserForm.passwordFirst.$pristine">Password
                is required</p>
            <p class="text-danger" ng-show="UserForm.passwordFirst.$error.pattern && !UserForm.passwordFirst.$pristine">
                Wrong
                format</p>
            <p class="text-danger"
               ng-show="UserForm.passwordFirst.$error.minlength && !UserForm.passwordFirst.$pristine && check">Min
                length 6</p>
            <p class="text-danger"
               ng-show="UserForm.passwordFirst.$error.maxlength && !UserForm.passwordFirst.$pristine && check">Max
                length 16</p>

            <label for="passwordRepeat">Confirm password</label>
            <input type="text" class="form-control" id="passwordRepeat" name="passwordRepeat" ng-model="passwordRepeat"
                   pattern="[a-zA-Z0-9]+"
                   ng-minlength="6"
                   ng-maxlength="16"
                   ng-focus="check=false"
                   ng-blur="check=true"
                   ng-match="passwordFirst">
            <p class="text-danger" ng-show="UserForm.passwordRepeat.$error.required && !UserForm.passwordRepeat.$pristine">
                Password
                is required</p>
            <p class="text-danger" ng-show="UserForm.passwordRepeat.$error.pattern && !UserForm.passwordRepeat.$pristine">
                Wrong
                format</p>
            <p class="text-danger"
               ng-show="UserForm.passwordRepeat.$error.minlength && !UserForm.passwordRepeat.$pristine && check">Min
                length 6</p>
            <p class="text-danger"
               ng-show="UserForm.passwordRepeat.$error.maxlength && !UserForm.passwordRepeat.$pristine && check">Max
                length 16</p>
            <p class="text-danger"
               ng-show="UserForm.passwordRepeat.$error.match && !UserForm.passwordRepeat.$pristine && check">Password not match</p>

            <button class="btn btn-primary" ng-click="changePass()"
                    ng-disabled="checkPass()">
                Change pass</button>
        </div>
    </form>
</div>
