<div class="container">
    <h2>{{welcomeMsg}}: <strong>{{user.name}}</strong></h2>

    <form role="form" name="UserForm" ng-submit="formSubmit(UserForm)">

        <p ng-class="{'text-success': showMsg.success, 'text-danger': !showMsg.success}" ng-show="showMsg.msg">{{showMsg.msg}}</p>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="username" ng-model="user.name" required pattern="^[a-zA-Z0-9 ]+$">
            <p class="text-danger" ng-show="UserForm.name.$invalid && !UserForm.name.$pristine">Name is required</p>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="text" class="form-control" id="pass" name="password" ng-model="user.password" required pattern="[a-zA-Z0-9]+"
                   ng-minlength="6"
                   ng-maxlength="16"
                   ng-focus="check=false"
                   ng-blur="check=true">
            <!--<pre class="hidden">{{UserForm.password | json}}</pre>-->
            <p class="text-danger" ng-show="UserForm.password.$error.required && !UserForm.password.$pristine">Password is required</p>
            <p class="text-danger" ng-show="UserForm.password.$error.pattern && !UserForm.password.$pristine">Wrong format</p>
            <p class="text-danger" ng-show="UserForm.password.$error.minlength && !UserForm.password.$pristine && check">Min length 6</p>
            <p class="text-danger" ng-show="UserForm.password.$error.maxlength && !UserForm.password.$pristine && check">Max length 16</p>
        </div>
        <div class="form-group">
            <label for="pass">Email</label>
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            {{UserForm.$error.required.$name}}
            <p class="text-danger" ng-show="UserForm.email.$error.required && !UserForm.email.$pristine">Price is required</p>
            <p class="text-danger" ng-show="UserForm.email.$error.pattern && !UserForm.email.$pristine">Wrong format</p>
        </div>
        <input type="submit" value="Submit" class="btn btn-default" ng-disabled="UserForm.$invalid">
    </form>
</div>
